# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c0cec2de09a2b613a550cf7220e5928ec5d3c5036b8abddc5aec37a1c61bfb6f39c3f1a376f3cfb5dd9a07522b1d8cf74bf582d7c91cbb705fc15e5b11d37778

test:
  secret_key_base: b41ef63ff9e5daf2247c012c3f2624b7ba5c5bbb59ed5e58153efe67548b4755a3195060a366f1f81a4c2dd4f44f9c19d86fc321f99d0ca3f1a74682acdfdf6c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
